<div id="experience" class="sticky top-0 min-h-[100vh] mx-auto pt-20 lg:pt-32 px-6 md:px-24 bg-special overflow-hidden">
  <div class="absolute -bottom-[40vh] left-0 w-[150vw] h-full -z-[2] rotate-[165deg] translucent-min"></div>
  <div class="absolute top-0 right-0 w-full h-full bg-white/[0.35] -z-[1]"></div>
  <div id="biography" class="absolute -top-[100vh] h-0 w-0"></div>
  <h1 class="text-5xl md:text-7xl sm:text-6xl whitespace-nowrap text-slate-800">Experience</h1>
  <div class="p-4 mt-12 max-w-4xl mx-auto">
    <p class="text-lg md:text3xl sm:text-2xl text-slate-700">
      Progressive Senior Web Developer with 4+ years of experience designing, enhancing, and maintaining 15+ websites, primarily progressive web applications, mainly using
      <span class="text-red-800">Angular</span>
      and
      <span class="text-blue-800">Ionic</span>
      at
      <a class="text-blue-400 underline" href="https://dotin.ir" target="_blank">Dotin</a>
      Corporation, one of the top 3 companies in the banking industry of Iran, Karafarin's Negah Bank, and a startup in London named Elpida.
    </p>
  </div>
</div>
