.bg-special {
  background-color:rgba(#99a2ff, 0);
  background-image:
    radial-gradient(at 9% 49%, hsla(226,75%,67%,.7) 0px, transparent 50%),
    radial-gradient(at 86% 78%, hsla(182,70%,70%,.7) 0px, transparent 50%),
    radial-gradient(at 40% 27%, hsla(240,89%,60%,.7) 0px, transparent 50%),
    radial-gradient(at 16% 42%, hsla(115,80%,60%,.7) 0px, transparent 50%),
    radial-gradient(at 21% 45%, hsla(85,61%,60%,.7) 0px, transparent 50%),
    radial-gradient(at 87% 2%, hsla(260,99%,71%,.7) 0px, transparent 50%),
    radial-gradient(at 90% 64%, hsla(246,83%,64%,.7) 0px, transparent 50%);
}

.bg-divider {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(210,227,227);
  background: linear-gradient(170deg, rgba(210,227,227,1) 0%, rgba(210,227,227,1) 50%, rgba(187,187,255,0) 50%);
}
