@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header-scrolled {
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
  }
}
