<div id="certifications" class="h-[100vh] w-full mx-auto pt-20 lg:pt-32 px-6 md:px-24 bg-slate-800/[0.35] backdrop-blur-xl"
     [ngClass]="activated ? 'top-0' : 'top-full'">
  <h2 class="text-5xl md:text-7xl sm:text-6xl whitespace-nowrap text-white">Certification</h2>
  <div class="flex w-full flex-wrap">
    <div class="mx-2 relative w-[300px] h-[250px]" *ngFor="let cert of certifications">
      <app-certification-item [certification]="cert"></app-certification-item>
    </div>
  </div>
</div>
