<div [ngStyle]="{width: size + 'px', height: size + 'px'}"
     class="rounded-full p-[4%] flex items-stretch border-4 border-white shadow relative bg-white/[.3]">
    <div class="flex-1 rounded-full border-2 border-white shadow relative">
        <div
                [ngStyle]="{rotate: time.seconds}"
                class="w-5/6 flex absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-[2%] origin-top-left items-stretch z-[3]">
            <div class="enter flex-1 bg-red-300 rounded-full shadow"></div>
            <div class="flex-1"></div>
        </div>
        <div
                [ngStyle]="{rotate: time.minutes}"
                class="w-2/3 flex absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-[2.5%] origin-top-left items-stretch z-[2]">
            <div class="enter flex-1 bg-gray-900 rounded-full shadow"></div>
            <div class="flex-1"></div>
        </div>
        <div
                [ngStyle]="{rotate: time.hours}"
                class="w-2/5 flex absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-[3%] origin-top-left items-stretch z-[1]">
            <div class="enter flex-1 bg-gray-900 rounded-full shadow"></div>
            <div class="flex-1"></div>
        </div>
        <div
                class="absolute top-1/2 right-1/2 -translate-y-1/2 translate-x-1/2 h-[8%] w-[8%] bg-white rounded-full shadow z-[4]"></div>
    </div>
    @for (i of Array(12).fill(null);track i) {
        <div
                class="absolute h-full top-0 left-1/2 origin-left -translate-x-1/2 flex w-[1%]"
                [ngStyle]="{rotate: ($index + 1) * 30 + 'deg'}">
            <div class="{{$index % 3 === 2 ? 'h-[10%] rounded-b-full' : 'h-[4%]'}} w-full bg-white shadow text-center relative">
                @if (hourIdentifier === 'full' ? true : hourIdentifier === 'partial' ? $index % 3 === 2 : false) {
                    <span
                            [ngStyle]="{
            rotate: ($index + 1) * -30 + 'deg',
            fontSize: $index % 3 === 2 ? size / 10 + 'px' : size / 14 + 'px',
            top: $index % 3 === 2 ? size / 15 + 'px' : size / 24 + 'px'
            }" class="absolute left-0 origin-left -translate-x-1/2 text-white drop-shadow-md"
                            [ngClass]="$index % 3 === 2 ? 'font-bold' : ''">{{ hourIdentifier ? $index + 1 : '' }}</span>
                }
            </div>
        </div>
    }
</div>
